
<div class = "row">
	<div class = "col s5">
		<h2 style="color: White;">About Me</h1>
		<img src="/IMG_6465 (2).JPG">
	</div>
	<div class = "col s5">
	<br>
		<br>
			<br>
				<br>
	<h4 class="padding" style="color: black;"> My full name is Chris  and I am a 12 year old from Jordan and Palistine. I was Born in bakers feild in calafornia. I enjoy watcng movies, Playing Basketball, swiming, and listining to music. I currently live in Jordan and I go to ACS (American Comunity School). </h4>
	</div>
</div>


<div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB-LPftitWIRNI8uYX3XaICNgvWBaySFQ&callback=initMap"
    async defer></script>



